<div class="headerFixed">
  <mat-toolbar color="primary">
    <span>Pedido</span>
  </mat-toolbar>
</div>

<table mat-table [dataSource]="pedidos">
  <!-- Item Column -->
  <ng-container matColumnDef="item">
    <td mat-cell *matCellDef="let pedido"> {{pedido.item.descricao}} </td>
    <td mat-footer-cell *matFooterCellDef> Total </td>
  </ng-container>

  <!-- Cost Column -->
  <ng-container matColumnDef="valor">
    <td mat-cell *matCellDef="let pedido">{{pedido.quantidade}}x R${{pedido.item.preco | number:"1.2-2"}} </td>
    <td mat-footer-cell *matFooterCellDef> R${{total | number:"1.2-2"}} </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: ['item', 'valor'];"></tr>
  <tr mat-footer-row *matFooterRowDef="['item','valor']"></tr>
</table>

<div class="buttons">
  <button mat-raised-button routerLink="/cardapio">Incluir mais itens</button>
  <button mat-raised-button (click)="limparCarrinho()">Limpar</button>
  <button mat-raised-button color="warn">Concluir</button>
</div>