/* You can add global styles to this file, and also import other style files */
html {
  background-color: lightgrey;
}
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  max-width: 600px;
  margin: auto;
}
div.container{
  background-color: whitesmoke;
}
div.headerFixed {
  top: 0;
  position: sticky;
  z-index: 10;
}